@using System.Globalization
@using MyDailyLogs.ViewModels;
@using MyDailyLogs.ViewModels.Configuration
@model List<LogEntryViewModel>

@{
    ViewBag.Title = "Home Page";

    var logEntries = Model;

    var origFirstLoadedLogEntryDateTime = logEntries.Any() ? DateTime.Parse(logEntries.First().DateTime) : new DateTime();
    var logEntryStrArraySeparator = HttpUtility.UrlEncode(Constants.LogEntryStrArraySeparator);
    //const string logEntryStrArraySeparator = Constants.LogEntryStrArraySeparator;
    const string dbInfoBarId = Constants.DbInfoBarId;
    const string dbInfoBarClass = Constants.DbInfoBarClass;
    const string dbInfoBarLblId = Constants.DbInfoBarLblId;
    const string dbInfoBarLblClass = Constants.DbInfoBarLblClass;
    const string dbInfoBarSpecialMsgAreaId = Constants.DbInfoBarSpecialMsgAreaId;
    const string dbInfoBarSpecialMsgAreaClass = Constants.DbInfoBarSpecialMsgAreaClass;
    const string dbStatusAreaId = Constants.DbStatusAreaId;
    const string dbStatusAreaClass = Constants.DbStatusAreaClass;
    const string dbStatusAreaLblId = Constants.DbStatusAreaLblId;
    const string dbStatusAreaLblClass = Constants.DbStatusAreaLblClass;
    const string dbStatusValueId = Constants.DbStatusValueId;
    const string dbStatusValueClass = Constants.DbStatusValueClass;
    const string dbStatusValueInrHtml = Constants.DbStatusValueInrHtml;
    const string dbLastCheckValueId = Constants.DbLastCheckValueId;
    const string dbLastCheckValueClass = Constants.DbLastCheckValueClass;
    const string dbBarBtnClass = Constants.DbBarBtnClass;
    const string dbUpdateBtnId = Constants.DbUpdateBtnId;
    const string dbUpdateBtnClass = Constants.DbUpdateBtnClass;
    const string dbUpdateBtnValue = Constants.DbUpdateBtnValue;
    const string dbStartBtnId = Constants.DbStartBtnId;
    const string dbStartBtnClass = Constants.DbStartBtnClass;
    const string dbStartBtnValue = Constants.DbStartBtnValue;
    const string dbSyncBtnId = Constants.DbSyncBtnId;
    const string dbSyncBtnClass = Constants.DbSyncBtnClass;
    const string dbSyncBtnValue = Constants.DbSyncBtnValue;
    const string dbSaveBtnClass = Constants.DbSaveBtnClass;
    const string dbSaveBtnValue = Constants.DbSaveBtnValue;
    const string dbSaveAndQuitAreaId = Constants.DbSaveAndQuitAreaId;
    const string dbSaveAndQuitAreaClass = Constants.DbSaveAndQuitAreaClass;
    const string dbSaveAndQuitLblId = Constants.DbSaveAndQuitLblId;
    const string dbSaveAndQuitLblClass = Constants.DbSaveAndQuitLblClass;
    const string dbSaveBtnId = Constants.DbSaveBtnId;
    const string dbBarDimClass = Constants.DbBarDimClass;
    const string dbBarMsgId = Constants.DbBarMsgId;
    const string dbBarMsgClass = Constants.DbBarMsgClass;
    const string dbBarMsgTextId = Constants.DbBarMsgTextId;
    const string dbBarMsgTextClass = Constants.DbBarMsgTextClass;
    const string dbBarMsgSaveQuitSuccess = Constants.DbBarMsgSaveQuitSuccess;
    const string dbBarMsgSyncSuccess = Constants.DbBarMsgSyncSuccess;
    const string dbBarMsgSaveQuitFail = Constants.DbBarMsgSaveQuitFail;
    const string dbBarMsgSyncFail = Constants.DbBarMsgSyncFail;
    const string dbBarMsgAutoSaveFailed = Constants.DbBarMsgAutoSaveFailed;
    const string dbBarMsgServiceStarted = Constants.DbBarMsgServiceStarted;
    const string dbBarMsgServiceStartFailed = Constants.DbBarMsgServiceStartFailed;
    const string dbBarMsgXId = Constants.DbBarMsgXId;
    const string dbBarMsgXclass = Constants.DbBarMsgXclass;
    const string hideClass = Constants.HideClass;
    const string noDisplayClass = Constants.NoDisplayClass;
    const string leUnsavedClass = Constants.LeUnsavedClass;
    const string dbStatusTextUpdating = Constants.DbStatusTextUpdating;
    const string dbStatusTextRunning = Constants.DbStatusTextRunning;
    const string dbStatusTextStopped = Constants.DbStatusTextStopped;
    const int    dbStatusUpdateInterval = Constants.DbStatusUpdateInterval;
    const string dbInfoBarTitle = Constants.DbInfoBarTitle;
    const string dbStatusAreaTitle = Constants.DbStatusAreaTitle;
    const string dbUpdateBtnTitle = Constants.DbUpdateBtnTitle;
    const string dbStartBtnTitle = Constants.DbStartBtnTitle;
    const string dbSyncBtnTitle = Constants.DbSyncBtnTitle;
    const string dbSaveBtnTitle = Constants.DbSaveBtnTitle;
    const string logEntryListContainerId = Constants.LogEntryListContainerId;
    const string logEntryListContainerClass = Constants.LogEntryListContainerClass;
    const int    maxNumbDivDigitWidth = Constants.MaxNumbDivDigitWidth;
    const string leDayDateClass = Constants.LeDayDateClass;
    const string logEntryClass = Constants.LogEntryClass;
    const string lePartClass = Constants.LePartClass;
    const string leNumbClass = Constants.LeNumbClass;
    const string leDateClass = Constants.LeDateClass;
    const string leTextClass = Constants.LeTextClass;
    const string hiddenScoreClass = Constants.HiddenScoreClass;
    const string focusLineClass = Constants.FocusLineClass;
    const string newLogEntryId = Constants.NewLogEntryId;
    const string newLogEntryClass = Constants.NewLogEntryClass;
    const string newLogEntryTsEllipsis = Constants.NewLogEntryTsEllipsis;
    const string newLogEntryTextInputId = Constants.NewLogEntryTextInputId;
    const string newLogEntryTextInputName = Constants.NewLogEntryTextInputName;
    const string newLogEntryTextInputPlaceholder = Constants.NewLogEntryTextInputPlaceholder;

    Func<ushort, string> formatLogEntryNumber = n =>
    {
        var numb = n;
        var numbStr = numb.ToString(CultureInfo.InvariantCulture);
        var numbStrLength = numbStr.Length;
        var digitDiff = maxNumbDivDigitWidth - numbStrLength + 1;
        var leNumbStr = string.Empty;
        for (var d = 0; d < digitDiff; d++)
        {
            leNumbStr += " ";
        }
        return leNumbStr + numbStr + " ";
    };

}

@{ Html.RenderPartial("_BackEndInfo");}
<div id="@logEntryListContainerId" class="@logEntryListContainerClass">

    @{
        var prevLogEntryDateTime = DateTime.MinValue;
        var leCount = 0;
        ushort lastLeNumb = 0;
    }
    @if (logEntries.Any())
    {
        foreach (var l in logEntries)
        {
            leCount++;
            var leInFocus = string.Empty;
            var lastLoadedLogEntry = leCount == logEntries.Count;
            if (lastLoadedLogEntry)
            {
                leInFocus = focusLineClass;
            }
            var currentLogEntryDateTime = DateTime.Parse(l.DateTime);
            if (prevLogEntryDateTime.Date < currentLogEntryDateTime.Date)
            {
                <div class="@leDayDateClass">@l.DateTime.Substring(0, 10)</div>
                prevLogEntryDateTime = currentLogEntryDateTime;
            }
            var fmtLogEntryNumber = formatLogEntryNumber(l.EntryNumber);
            lastLeNumb = l.EntryNumber;
            <div class="@logEntryClass @leInFocus">
                <div class="@leDateClass @lePartClass">@l.DateTime.Substring(11)</div><div class="@leNumbClass @lePartClass">@fmtLogEntryNumber</div><div class="@leTextClass @lePartClass">@l.Text</div><div class="@hiddenScoreClass">@l.EpochMs</div>
            </div>
        }
    }
    @{
        var currentDateTime = DateTime.Now;
        if (prevLogEntryDateTime.Date < currentDateTime.Date)
        {
            <div class="@leDayDateClass">@($"{DateTime.Now:MM/dd/yyyy}")</div>
            lastLeNumb = 0;
        }
    }
    @{
        var fmtNewLogEntryNumber = formatLogEntryNumber((ushort)(lastLeNumb + 1));
    }
    <div id="@newLogEntryId" class="@logEntryClass @newLogEntryClass">
        <div class="@leDateClass @lePartClass">@newLogEntryTsEllipsis</div><div class="@leNumbClass @lePartClass">@fmtNewLogEntryNumber</div><input id="@newLogEntryTextInputId" class="@leTextClass @lePartClass" type="text" name="@newLogEntryTextInputName" autofocus placeholder="@newLogEntryTextInputPlaceholder"/>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var logEntryStrArraySeparator = "@logEntryStrArraySeparator";
        var dbInfoBarId = "@dbInfoBarId";
        var dbInfoBarClass = "@dbInfoBarClass";
        var dbInfoBarLblId = "@dbInfoBarLblId";
        var dbInfoBarLblClass = "@dbInfoBarLblClass";
        var dbInfoBarSpecialMsgAreaId = "@dbInfoBarSpecialMsgAreaId";
        var dbInfoBarSpecialMsgAreaClass = "@dbInfoBarSpecialMsgAreaClass";
        var dbStatusAreaId = "@dbStatusAreaId";
        var dbStatusAreaClass = "@dbStatusAreaClass";
        var dbStatusAreaLblId = "@dbStatusAreaLblId";
        var dbStatusAreaLblClass = "@dbStatusAreaLblClass";
        var dbStatusValueId = "@dbStatusValueId";
        var dbStatusValueClass = "@dbStatusValueClass";
        var dbStatusValueInrHtml = "@dbStatusValueInrHtml";
        var dbLastCheckValueId = "@dbLastCheckValueId";
        var dbLastCheckValueClass = "@dbLastCheckValueClass";
        var dbBarBtnClass = "@dbBarBtnClass";
        var dbUpdateBtnId = "@dbUpdateBtnId";
        var dbUpdateBtnClass = "@dbUpdateBtnClass";
        var dbUpdateBtnValue = "@dbUpdateBtnValue";
        var dbStartBtnId = "@dbStartBtnId";
        var dbStartBtnClass = "@dbStartBtnClass";
        var dbStartBtnValue = "@dbStartBtnValue";
        var dbSyncBtnId = "@dbSyncBtnId";
        var dbSyncBtnClass = "@dbSyncBtnClass";
        var dbSyncBtnValue = "@dbSyncBtnValue";
        var dbSaveBtnClass = "@dbSaveBtnClass";
        var dbSaveBtnValue = "@dbSaveBtnValue";
        var dbSaveAndQuitAreaId = "@dbSaveAndQuitAreaId";
        var dbSaveAndQuitAreaClass = "@dbSaveAndQuitAreaClass";
        var dbSaveAndQuitLblId = "@dbSaveAndQuitLblId";
        var dbSaveAndQuitLblClass = "@dbSaveAndQuitLblClass";
        var dbSaveBtnId = "@dbSaveBtnId";
        var dbBarDimClass = "@dbBarDimClass";
        var dbBarMsgId = "@dbBarMsgId";
        var dbBarMsgClass = "@dbBarMsgClass";
        var dbBarMsgTextId = "@dbBarMsgTextId";
        var dbBarMsgTextClass = "@dbBarMsgTextClass";
        var dbBarMsgSaveQuitSuccess = "@dbBarMsgSaveQuitSuccess";
        var dbBarMsgSyncSuccess = "@dbBarMsgSyncSuccess";
        var dbBarMsgSaveQuitFail = "@dbBarMsgSaveQuitFail";
        var dbBarMsgSyncFail = "@dbBarMsgSyncFail";
        var dbBarMsgAutoSaveFailed = "@dbBarMsgAutoSaveFailed";
        var dbBarMsgServiceStarted = "@dbBarMsgServiceStarted";
        var dbBarMsgServiceStartFailed = "@dbBarMsgServiceStartFailed";
        var dbBarMsgXId = "@dbBarMsgXId";
        var dbBarMsgXclass = "@dbBarMsgXclass";
        var hideClass = "@hideClass";
        var noDisplayClass = "@noDisplayClass";
        var leUnsavedClass = "@leUnsavedClass";
        var dbStatusTextUpdating = "@dbStatusTextUpdating";
        var dbStatusTextRunning = "@dbStatusTextRunning";
        var dbStatusTextStopped = "@dbStatusTextStopped";
        var dbStatusUpdateInterval = "@dbStatusUpdateInterval";
        var dbInfoBarTitle = "@dbInfoBarTitle";
        var dbStatusAreaTitle = "@dbStatusAreaTitle";
        var dbUpdateBtnTitle = "@dbUpdateBtnTitle";
        var dbStartBtnTitle = "@dbStartBtnTitle";
        var dbSyncBtnTitle = "@dbSyncBtnTitle";
        var dbSaveBtnTitle = "@dbSaveBtnTitle";
        var logEntryListContainerId = "@logEntryListContainerId";
        var maxNumbDivDigitWidth = "@maxNumbDivDigitWidth";
        var leDayDateClass = "@leDayDateClass";
        var logEntryClass = "@logEntryClass";
        var lePartClass = "@lePartClass";
        var leNumbClass = "@leNumbClass";
        var leDateClass = "@leDateClass";
        var leTextClass = "@leTextClass";
        var hiddenScoreClass = "@hiddenScoreClass";
        var focusLineClass = "@focusLineClass";
        var newLogEntryId = "@newLogEntryId";
        var newLogEntryClass = "@newLogEntryClass";
        var newLogEntryTsEllipsis = "@newLogEntryTsEllipsis";
        var newLogEntryTextInputId = "@newLogEntryTextInputId";
        var newLogEntryTextInputName = "@newLogEntryTextInputName";
        var newLogEntryTextInputPlaceholder = "@newLogEntryTextInputPlaceholder";

        $(document).ready(function() {
            UpdateLogEntryElementAttributeVariables(
                    logEntryStrArraySeparator,
                    dbInfoBarId,
                    dbInfoBarClass,
                    dbInfoBarLblId,
                    dbInfoBarLblClass,
                    dbInfoBarSpecialMsgAreaId,
                    dbInfoBarSpecialMsgAreaClass,
                    dbStatusAreaId,
                    dbStatusAreaClass,
                    dbStatusAreaLblId,
                    dbStatusAreaLblClass,
                    dbStatusValueId,
                    dbStatusValueClass,
                    dbStatusValueInrHtml,
                    dbLastCheckValueId,
                    dbLastCheckValueClass,
                    dbBarBtnClass,
                    dbUpdateBtnId,
                    dbUpdateBtnClass,
                    dbUpdateBtnValue,
                    dbStartBtnId,
                    dbStartBtnClass,
                    dbStartBtnValue,
                    dbSyncBtnId,
                    dbSyncBtnClass,
                    dbSyncBtnValue,
                    dbSaveBtnClass,
                    dbSaveBtnValue,
                    dbSaveAndQuitAreaId,
                    dbSaveAndQuitAreaClass,
                    dbSaveAndQuitLblId,
                    dbSaveAndQuitLblClass,
                    dbSaveBtnId,
                    dbBarDimClass,
                    dbBarMsgId,
                    dbBarMsgClass,
                    dbBarMsgTextId,
                    dbBarMsgTextClass,
                    dbBarMsgSaveQuitSuccess,
                    dbBarMsgSyncSuccess,
                    dbBarMsgSaveQuitFail,
                    dbBarMsgSyncFail,
                    dbBarMsgAutoSaveFailed,
                    dbBarMsgServiceStarted,
                    dbBarMsgServiceStartFailed,
                    dbBarMsgXId,
                    dbBarMsgXclass,
                    hideClass,
                    noDisplayClass,
                    leUnsavedClass,
                    dbStatusTextUpdating,
                    dbStatusTextRunning,
                    dbStatusTextStopped,
                    dbStatusUpdateInterval,
                    dbInfoBarTitle,
                    dbStatusAreaTitle,
                    dbUpdateBtnTitle,
                    dbStartBtnTitle,
                    dbSyncBtnTitle,
                    dbSaveBtnTitle,
                    logEntryListContainerId,
                    maxNumbDivDigitWidth,
                    leDayDateClass,
                    logEntryClass,
                    lePartClass,
                    leNumbClass,
                    leDateClass,
                    leTextClass,
                    hiddenScoreClass,
                    focusLineClass,
                    newLogEntryId,
                    newLogEntryClass,
                    newLogEntryTsEllipsis,
                    newLogEntryTextInputId,
                    newLogEntryTextInputName,
                    newLogEntryTextInputPlaceholder
                );
            getCurrentDbSvcStatus();
        });

        setInterval(function() {
                doTheThing();
            },
            dbStatusUpdateInterval);

        function doTheThing() {
            getCurrentDbSvcStatus();
        }

        $(document)
            .on('keyup',
                '#@newLogEntryTextInputId',
                function(e) {
                    var nowUtcMs = Date.now();
                    var logEntryTextVal = this.value;
                    var enterKey = 13;
                    if (e.keyCode === enterKey && LogEntryTextIsValid(logEntryTextVal)) SaveNewLogEntryAndUpdateUI(logEntryTextVal, nowUtcMs);
                });
        $(document).on('click','#@dbUpdateBtnId',function () {getCurrentDbSvcStatus();});
        $(document).on('click','#@dbSaveBtnId',function () {saveAsPrepForQuit();});
        $(document).on('click', '#@dbBarMsgXId', function () {hideXclickedMsg();});
        $(document).on('click', '#@dbStartBtnId', function () {handleStartBtnClick();});
        $(document).on('click', '#@dbSyncBtnId', function () {saveAllUnsavedLogEntries();});

    </script>
}

@section styles
{
    <style type="text/css">

        #@newLogEntryTextInputId{
            border: none;
            outline: none;
            width: 900px !important;
            max-width: 900px !important;
            padding-top: 0px;
        }
        .@leDayDateClass{
            color: #222222;
            font-size: 2.25em;
            background: lightgray;
            padding-left: 5px;
            margin-bottom: -1px;
        }
        .@logEntryClass {
            color: #222222;
            line-height: 0.9em;
            font-size: x-large;
            border-bottom: 0.5px solid lightgray;
        }
        .@lePartClass{
            display: inline;
            font-family: monospace;
        }
        .@leDateClass{

        }
        .@leNumbClass{
            background: lightgray;
            border-bottom: 0.5px solid lightgray;
            border-top: 0.5px solid lightgray;
            white-space: pre;
            margin-left: 0.25%;
        }
        .@leTextClass{
            min-width: 920px;
            margin-left: 0.25%;
            white-space: pre-wrap;
        }
        .@hiddenScoreClass {
            display: none;
        }
        .@logEntryListContainerClass {
            display: inline-block;
            height: 80vh;
            max-height: 80vh;
            width: 100%;
            max-width: 100%;
            overflow-y: scroll;
        }
        .@dbInfoBarClass {
            position: relative;
            float: left;
            height: 45px;
            width: 100%;
            background: #A41F16;
            color: #F2B9B6;
            text-align: center;
            margin-top: 0px;
            margin-left: 0px;
            padding: 0px;
            -webkit-box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.75);
            box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.75);
        }
        .@dbInfoBarLblClass {
            float: left;
            height: 100%;
            width: 10%;
            font-size: 1.5em;
            padding-top: 7px;
            background: #6b0101;
            color: #F2B9B6;
            box-shadow: 3px 1px 8px -1px rgba(0,0,0,1);
        }
        .@dbStatusAreaClass {
            height: 100%;
            float: left;
            width: 30%;
        }
        .@dbStatusValueClass,
        .@dbLastCheckValueClass{
            padding-top: 13px;
        }
        .@dbStatusAreaLblClass {
            text-align: center;
            text-decoration: none !important;
            height: 100%;
            width: 40%;
            float: left;
        }
        .@dbStatusValueClass {
            text-align: center;
            text-decoration: none !important;
            height: 100%;
            width: 45%;
            float: right;
        }
        .@dbInfoBarSpecialMsgAreaClass {
            text-align: center;
            text-decoration: none !important;
            height: 100%;
            width: 46%;
            max-width: 46%;
            float: left;
            padding: 10px;
        }
        .@dbLastCheckValueClass {
            text-align: center;
            text-decoration: none !important;
            height: 100%;
            width: 60%;
            max-width: 60%;
            float: left;
        }
        .@dbSaveAndQuitAreaClass {
            text-align: center;
            text-decoration: none !important;
            height: 100%;
            width: 14%;
            float: right;
        }
        .@dbSaveAndQuitLblClass{
            text-align: right;
            text-decoration: none !important;
            height: 100%;
            width: 48%;
            float: left;
            padding-top: 3px;
        }
        .@dbSyncBtnClass,
        .@dbSaveBtnClass,
        .@dbStartBtnClass,
        .@dbUpdateBtnClass {
            background: #D92B21;
            color: #F2B9B6;
            width: 60px;
            height: 35px;
            border: 1px solid #F2B9B6;
            padding-top: 6px;
            margin: 5px 7px 0 7px;
        }
        .@dbSaveBtnClass {
            float: right;
        }
        .@dbBarMsgClass{
            border: 2px dotted;
        }
        .@dbBarDimClass{
            background: rgba(107, 1, 1, 0.48);
        }
        .@hideClass{
            visibility: hidden;
        }
        .@noDisplayClass{
            display: none !important;
        }
        .@dbBarMsgXclass {
            display: inline;
            float: right;
            width: 15px;
            border: 1px;
            border-radius: 20px;
            padding: 0px 0px 1px 5px;
            font-size: 0.6em;
        }
        .@dbBarMsgXclass:hover {
            background: #D92B21;
        }
        .@leUnsavedClass {
            background: rgb(208, 49, 40)
        }
        .@dbInfoBarClass,
        .@dbBarMsgClass{
            cursor: context-menu;
        }
        .@dbInfoBarLblClass,
        .@dbBarMsgXclass {
            cursor: pointer;
        }
        .@dbBarBtnClass {
            cursor: pointer;
            box-shadow: 5px 3px 8px -4px rgba(0,0,0,0.75);
        }
        .@dbBarBtnClass:hover {
            background: rgb(220, 61, 52);
        }
        .@dbBarBtnClass:active {
            background: #bf261d;
            box-shadow: none;
        }
        .@dbInfoBarLblClass:hover {
            background: #820202;
        }
        .@dbInfoBarLblClass:active {
            background: rgba(107, 1, 1, 0.48);
            box-shadow: none;
        }

    </style>
}
