@using MyDailyLogs.ViewModels.Configuration
@{
    const string logEntryStrArraySeparator = Constants.LogEntryStrArraySeparator;
    const string dbInfoBarId = Constants.DbInfoBarId;
    const string dbInfoBarClass = Constants.DbInfoBarClass;
    const string dbInfoBarLblId = Constants.DbInfoBarLblId;
    const string dbInfoBarLblClass = Constants.DbInfoBarLblClass;
    const string dbInfoBarSpecialMsgAreaId = Constants.DbInfoBarSpecialMsgAreaId;
    const string dbInfoBarSpecialMsgAreaClass = Constants.DbInfoBarSpecialMsgAreaClass;
    const string dbStatusAreaId = Constants.DbStatusAreaId;
    const string dbStatusAreaClass = Constants.DbStatusAreaClass;
    const string dbStatusAreaLblId = Constants.DbStatusAreaLblId;
    const string dbStatusAreaLblClass = Constants.DbStatusAreaLblClass;
    const string dbStatusValueId = Constants.DbStatusValueId;
    const string dbStatusValueClass = Constants.DbStatusValueClass;
    const string dbStatusValueInrHtml = Constants.DbStatusValueInrHtml;
    const string dbLastCheckValueId = Constants.DbLastCheckValueId;
    const string dbLastCheckValueClass = Constants.DbLastCheckValueClass;
    const string dbBarBtnClass = Constants.DbBarBtnClass;
    const string dbUpdateBtnId = Constants.DbUpdateBtnId;
    const string dbUpdateBtnClass = Constants.DbUpdateBtnClass;
    const string dbUpdateBtnValue = Constants.DbUpdateBtnValue;
    const string dbStartBtnId = Constants.DbStartBtnId;
    const string dbStartBtnClass = Constants.DbStartBtnClass;
    const string dbStartBtnValue = Constants.DbStartBtnValue;
    const string dbSyncBtnId = Constants.DbSyncBtnId;
    const string dbSyncBtnClass = Constants.DbSyncBtnClass;
    const string dbSyncBtnValue = Constants.DbSyncBtnValue;
    const string dbSaveBtnClass = Constants.DbSaveBtnClass;
    const string dbSaveBtnValue = Constants.DbSaveBtnValue;
    const string dbSaveAndQuitAreaId = Constants.DbSaveAndQuitAreaId;
    const string dbSaveAndQuitAreaClass = Constants.DbSaveAndQuitAreaClass;
    const string dbSaveAndQuitLblId = Constants.DbSaveAndQuitLblId;
    const string dbSaveAndQuitLblClass = Constants.DbSaveAndQuitLblClass;
    const string dbSaveBtnId = Constants.DbSaveBtnId;
    const string dbBarDimClass = Constants.DbBarDimClass;
    const string dbBarMsgId = Constants.DbBarMsgId;
    const string dbBarMsgClass = Constants.DbBarMsgClass;
    const string dbBarMsgTextId = Constants.DbBarMsgTextId;
    const string dbBarMsgTextClass = Constants.DbBarMsgTextClass;
    const string dbBarMsgSaveQuitSuccess = Constants.DbBarMsgSaveQuitSuccess;
    const string dbBarMsgSyncSuccess = Constants.DbBarMsgSyncSuccess;
    const string dbBarMsgSaveQuitFail = Constants.DbBarMsgSaveQuitFail;
    const string dbBarMsgSyncFail = Constants.DbBarMsgSyncFail;
    const string dbBarMsgAutoSaveFailed = Constants.DbBarMsgAutoSaveFailed;
    const string dbBarMsgServiceStarted = Constants.DbBarMsgServiceStarted;
    const string dbBarMsgXId = Constants.DbBarMsgXId;
    const string dbBarMsgXclass = Constants.DbBarMsgXclass;
    const string hideClass = Constants.HideClass;
    const string noDisplayClass = Constants.NoDisplayClass;
    const string leUnsavedClass = Constants.LeUnsavedClass;
    const string dbStatusTextUpdating = Constants.DbStatusTextUpdating;
    const string dbStatusTextRunning = Constants.DbStatusTextRunning;
    const string dbStatusTextStopped = Constants.DbStatusTextStopped;
    const int dbStatusUpdateInterval = Constants.DbStatusUpdateInterval;
    const string dbInfoBarTitle = Constants.DbInfoBarTitle;
    const string dbStatusAreaTitle = Constants.DbStatusAreaTitle;
    const string dbUpdateBtnTitle = Constants.DbUpdateBtnTitle;
    const string dbStartBtnTitle = Constants.DbStartBtnTitle;
    const string dbSyncBtnTitle = Constants.DbSyncBtnTitle;
    const string dbSaveBtnTitle = Constants.DbSaveBtnTitle;
    const string logEntryListContainerId = Constants.LogEntryListContainerId;
    const int maxNumbDivDigitWidth = Constants.MaxNumbDivDigitWidth;
    const string leDayDateClass = Constants.LeDayDateClass;
    const string logEntryClass = Constants.LogEntryClass;
    const string lePartClass = Constants.LePartClass;
    const string leNumbClass = Constants.LeNumbClass;
    const string leDateClass = Constants.LeDateClass;
    const string leTextClass = Constants.LeTextClass;
    const string hiddenScoreClass = Constants.HiddenScoreClass;
    const string focusLineClass = Constants.FocusLineClass;
    const string newLogEntryClass = Constants.NewLogEntryClass;
    const string newLogEntryTsEllipsis = Constants.NewLogEntryTsEllipsis;
    const string newLogEntryTextInputId = Constants.NewLogEntryTextInputId;
    const string newLogEntryTextInputName = Constants.NewLogEntryTextInputName;
    const string newLogEntryTextInputPlaceholder = Constants.NewLogEntryTextInputPlaceholder;
}

<div id="@dbInfoBarId" class="@dbInfoBarClass" title="@dbInfoBarTitle">
    <div id="@dbInfoBarLblId" class="@dbInfoBarLblClass">Manage</div>
    <div id="@dbStatusAreaId" class="@dbStatusAreaClass" title="@dbStatusAreaTitle">
        <div id="@dbStatusAreaLblId" class="@dbStatusAreaLblClass @dbBarDimClass">
            <div id="@dbStatusValueId" class="@dbStatusValueClass">@dbStatusValueInrHtml</div>
            <div id="@dbUpdateBtnId" class="@dbBarBtnClass @dbUpdateBtnClass" title="@dbUpdateBtnTitle">@dbUpdateBtnValue</div>
            <div id="@dbStartBtnId" class="@dbBarBtnClass @dbStartBtnClass @noDisplayClass" title="@dbStartBtnTitle">@dbStartBtnValue</div>
            <div id="@dbSyncBtnId" class="@dbBarBtnClass @dbSyncBtnClass @noDisplayClass" title="@dbSyncBtnTitle">@dbSyncBtnValue</div>
        </div>
        <div id="@dbLastCheckValueId" class="@dbLastCheckValueClass @dbBarDimClass">@dbStatusTextUpdating</div>
    </div>
    <div id="@dbInfoBarSpecialMsgAreaId" class="@dbInfoBarSpecialMsgAreaClass @dbBarDimClass">
        <div id="@dbBarMsgId" class="@dbBarMsgClass @hideClass"><div id="@dbBarMsgTextId" class="@dbBarMsgTextClass" style="display: inline;" title="">...</div><div id="@dbBarMsgXId" class="@dbBarMsgXclass" style="text-align: right; padding-right: 5px;">x</div></div>
    </div>
    <div id="@dbSaveAndQuitAreaId" class="@dbSaveAndQuitAreaClass @dbBarDimClass" title="@dbSaveBtnTitle">
        <div id="@dbSaveAndQuitLblId" class="@dbSaveAndQuitLblClass">Save and Quit</div>
        <div id="@dbSaveBtnId" class="@dbBarBtnClass @dbSaveBtnClass">@dbSaveBtnValue</div>
    </div>
</div>
